.root, Tab, AnchorPane, ScrollPane, SplitPane, SpecificInfo, GenInfo, HexWorld,
 ScrollBar, Scroll-Bar, Text, TextFlow, Accordion, Functions, TitledPane {
    -fx-font: 16px "Helvetica";
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #1f4788;

}
.text-flow .text{
    fx-fill: #1f4788;
}

.pane{
    -fx-background-color: #A0BAE2;
}
.MediaControl{
    -fx-background-color: #A0BAE2;

}
.titled-pane > .title{
    -fx-background-color: #ecf0f1;
}

.button, toggle-button, ToggleButton, .slider{
    -fx-base: #E4EDFB;
    -fx-text-fill: #1f4788;
}
.thumb{
    -fx-fill: #1f4788;
}

.GenInfo *{
    -fx-text-fill: #1f4788;
}
.text-field{
    -fx-text-fill: #1f4788;
    -fx-background-color: #E4EDFB;
}
.text{
    -fx-fill: #1f4788;
}

.scroll-bar{
    -fx-background-color: #E4EDFB;
}
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb{
    -fx-background-color: #88A5D4;
}
/*WHY CANT YOU JUST CASCADE LIKE A NORMAL STYLESHEET???*/